<div class="row animated fadeIn">
    <div *ngIf="!loading" class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filtra fácilmente los usuarios registrados en el sistema</h4>
                <h6 class="card-subtitle">Edite y cambie el estado de los usuarios</h6>
                <div class="table-responsive m-t-40">
                    <div id="example23_wrapper" class="dataTables_wrapper">
                        <form [formGroup]="filterForm" (ngSubmit)="filtrar()">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <label>Nombre</label>
                                    <input formControlName="nombre" class="form-control form-control-line" type="text" placeholder="Nombre del usuario" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <label>Email</label>
                                    <input formControlName="email" class="form-control form-control-line" type="email" placeholder="Email del usuario" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <label>Teléfono</label>
                                    <input formControlName="telefono" class="form-control form-control-line" type="tel" placeholder="Teléfono del usuario" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <label>Rol</label>
                                    <select formControlName="idRol" class="form-control form-control-line">
                                        <option [ngValue]="0">Elija un rol</option>
                                        <option *ngFor="let rol of roles" [ngValue]="rol.idRol">{{ rol.nombre }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                    <span *ngIf="filterForm.value.activo" class="w-100 badge badge-success">ACTIVO</span>
                                    <span *ngIf="!filterForm.value.activo" class="w-100 badge badge-danger">INACTIVO</span>
                                    <div class="switch text-center mt-2">
                                        <label>
                                            <input formControlName="activo" type="checkbox" checked=""><span class="lever switch-col-red"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-right">
                                    <button type="submit" class="btn btn-primary mt-4">Buscar</button>
                                </div>
                            </div>
                        </form>
                        <div id="example23_filter" class="dataTables_filter">
                            <button class="btn btn-secondary" (click)="resetAll()">Reiniciar búsqueda</button>
                        </div>
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;"></th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;">Nombre</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Email</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Teléfono</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;">Rol</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;">Estado</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="usuarios.length; else noRecords">
                                    <tr *ngFor="let usuario of usuarios">
                                        <td width="10%">
                                            <img class="img img-thumbnail" [src]="usuario.imgUrl | noImg" alt="profile-pic" />
                                        </td>
                                        <td class="align-middle">{{ usuario.nombre }}</td>
                                        <td class="align-middle">{{ usuario.email }}</td>
                                        <td class="align-middle">{{ usuario.telefono }}</td>
                                        <td class="align-middle">{{ usuario.rol }}</td>
                                        <td class="align-middle">
                                            <span *ngIf="usuario.activo" class="badge badge-success">ACTIVO</span>
                                            <span *ngIf="!usuario.activo" class="badge badge-danger">INACTIVO</span>
                                        </td>
                                        <td class="align-middle">
                                            <button [routerLink]="['/users', usuario.idUsuario]" class="btn btn-sm btn-info mr-1"><i class="fa fa-edit"></i></button>
                                            <button *ngIf="usuario.activo" class="btn btn-sm btn-danger" (click)="desactivarUsuario(usuario)"><i class="fa fa-trash"></i></button>
                                            <button *ngIf="!usuario.activo" class="btn btn-sm btn-info" (click)="activarUsuario(usuario)"><i class="fa fa-undo"></i></button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noRecords>
                                    <tr><td colspan="7"><h4 class="text-center m-1">No hay usuarios registrados...</h4></td></tr>
                                </ng-template>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-lg-right text-xl-right" rowspan="1" colspan="7">
                                        <a class="btn btn-primary btn-sm" [routerLink]="['/users','nuevo']"><i class="fa fa-plus mr-1"></i>Nuevo Usuario</a>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <app-pagination *ngIf="usuarios.length" [pagination]="pagination" (event)="getUsuarios($event)"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="card-body text-center">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
        <br>
        <span>Cargando usuarios...</span>
    </div>
</div>