<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div *ngIf="!loading" class="card-body">
                <h4 class="card-title">Filtra fácilmente tus ingresos registrados</h4>
                <h6 class="card-subtitle">Exportar información a Excel &amp; PDF</h6>
                <div class="table-responsive m-t-40">
                    <div id="example23_wrapper" class="dataTables_wrapper">
                        <form (ngSubmit)="filter()" [formGroup]="filterForm">
                            <div class="row">
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <label>Proveedor</label>
                                    <select formControlName="idProveedor" class="form-control form-control-line">
                                        <option [ngValue]="0">Elija un proveedor</option>
                                        <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor.idPersona">{{ proveedor.nombre }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <label>Tipo de Comprobante</label>
                                    <select formControlName="tipo_comprobante" class="form-control form-control-line">
                                        <option value="">Elija un tipo</option>
                                        <option value="FACTURA">FACTURA</option>
                                        <option value="BOLETA">BOLETA</option>
                                        <option value="TICKET">TICKET</option>
                                        <option value="GUIA">GUIA</option>
                                    </select>
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <label>Serie de Comprobante</label>
                                    <input formControlName="serie_comprobante" class="form-control form-control-line" type="text" placeholder="Serie del comprobante" />
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <label>No. de Comprobante</label>
                                    <input formControlName="num_comprobante" class="form-control form-control-line" type="text" placeholder="Serie del comprobante" />
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <label>Fecha Inicio</label>
                                    <input formControlName="fecha_inicio" class="form-control form-control-line" type="date" placeholder="Fecha inicio" />
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <label>Fecha Final</label>
                                    <input formControlName="fecha_fin" class="form-control form-control-line" type="date" placeholder="Fecha final" />
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                    <span *ngIf="filterForm.value.activo" class="w-100 badge badge-success">ACEPTADO</span>
                                    <span *ngIf="!filterForm.value.activo" class="w-100 badge badge-danger">ANULADO</span>
                                    <div class="switch text-center mt-2">
                                        <label>
                                            <input formControlName="activo" type="checkbox" checked=""><span class="lever switch-col-red"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-8 col-xl-3 text-right">
                                    <button type="submit" class="btn btn-primary mt-4">Buscar</button>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="ingresos.length" class="dt-buttons">
                            <a class="dt-button buttons-excel buttons-html5 cursor-pointer" tabindex="0" aria-controls="example23" (click)="printExcelIncomes()"><span>Excel</span></a>
                            <a class="dt-button buttons-pdf buttons-html5 cursor-pointer" tabindex="0" aria-controls="example23" (click)="printPDFIncomes()"><span>PDF</span></a>
                        </div>
                        <div id="example23_filter" class="dataTables_filter">
                            <button class="btn btn-secondary" (click)="resetAll()">Reinicar búsqueda</button>
                        </div>
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;">Usuario</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Proveedor</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Tipo Comprobante</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Serie Comprobante</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">No. Comprobante</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Fecha</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Total</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Estado</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="ingresos.length; else sinRegistros">
                                    <tr *ngFor="let ingreso of ingresos">
                                        <td>{{ ingreso.usuario }}</td>
                                        <td>{{ ingreso.proveedor }}</td>
                                        <td>{{ ingreso.tipo_comprobante }}</td>
                                        <td>{{ ingreso.serie_comprobante }}</td>
                                        <td>{{ ingreso.num_comprobante }}</td>
                                        <td>{{ ingreso.fecha_hora | date }}</td>
                                        <td>{{ ingreso.total | currency }}</td>
                                        <td>
                                            <span *ngIf="ingreso.estado === 'Aceptado'" class="badge badge-success">ACEPTADO</span>
                                            <span *ngIf="ingreso.estado !== 'Aceptado'" class="badge badge-danger">ANULADO</span>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/incomes', ingreso.idIngreso]" type="button" class="btn btn-sm btn-info mr-1"><i class="fa fa-eye"></i></a>
                                            <button *ngIf="ingreso.estado === 'Aceptado'" type="button" class="btn btn-sm btn-danger" (click)="desactivateIngreso(ingreso)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #sinRegistros>
                                    <tr>
                                        <td colspan="10"><h4 class="text-center m-1">No hay ingresos registrados...</h4></td>
                                    </tr>
                                </ng-template>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-right" rowspan="1" colspan="9">
                                        <a [routerLink]="['/incomes', 'nuevo']" class="btn btn-primary btn-sm"><i class="fa fa-plus mr-1"></i>Nuevo Ingreso</a>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <app-pagination *ngIf="ingresos.length" [pagination]="pagination" (event)="getIngresos($event)"></app-pagination>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="card-body text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
                <br>
                <span>Cargando sus ingresos...</span>
            </div>
        </div>
    </div>
</div>