<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div *ngIf="!loading" class="card-body">
                <h4 class="card-title">Filtra fácilmente tus proveedores registrados</h4>
                <h6 class="card-subtitle">Exportar información a Excel &amp; PDF</h6>
                <div class="table-responsive m-t-40">
                    <div id="example23_wrapper" class="dataTables_wrapper">
                        <form (ngSubmit)="filtrar()" [formGroup]="filterForm">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                    <label>Nombre</label>
                                    <input formControlName="nombre" class="form-control form-control-line" type="text" placeholder="Nombre del proveedor" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                    <label>Dirección</label>
                                    <input formControlName="direccion" class="form-control form-control-line" type="text" placeholder="Dirección del proveedor" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                    <label>Teléfono</label>
                                    <input formControlName="telefono" class="form-control form-control-line" type="tel" placeholder="Número del proveedor" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                    <label>Email</label>
                                    <input formControlName="email" class="form-control form-control-line" type="email" placeholder="Email del proveedor" />
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </form>
                        <div *ngIf="proveedores.length" class="dt-buttons">
                            <a class="dt-button buttons-excel buttons-html5 cursor-pointer" tabindex="0" aria-controls="example23" (click)="printExcelSuppliers()"><span>Excel</span></a>
                            <a class="dt-button buttons-pdf buttons-html5 cursor-pointer" tabindex="0" aria-controls="example23" (click)="printPDFSuppliers()"><span>PDF</span></a>
                        </div>
                        <div id="example23_filter" class="dataTables_filter">
                            <button class="btn btn-secondary" (click)="resetAll()">Reiniciar búsqueda</button>
                        </div>
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;">Nombre</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Dirección</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Teléfono</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Email</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="proveedores.length; else sinRegistros">
                                    <tr *ngFor="let proveedor of proveedores">
                                        <td>{{ proveedor.nombre }}</td>
                                        <td>{{ proveedor.direccion }}</td>
                                        <td>{{ proveedor.telefono }}</td>
                                        <td>{{ proveedor.email }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-info mr-1" (click)="editProveedor(proveedor)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #sinRegistros>
                                    <tr>
                                        <td colspan="5">
                                            <h4 class="text-center m-1">No hay proveedores registrados...</h4>
                                        </td>
                                    </tr>
                                </ng-template>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-lg-right text-xl-right" rowspan="1" colspan="5">
                                        <button class="btn btn-primary btn-sm" (click)="newProveedor()"><i class="fa fa-plus mr-1"></i>Nuevo Proveedor</button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <app-pagination *ngIf="proveedores.length" [pagination]="pagination" (event)="getProveedores($event)"></app-pagination>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="card-body text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
                <br>
                <span>Cargando sus proveedores...</span>
            </div>
        </div>
    </div>
</div>