<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div *ngIf="!loading" class="card-body">
                <h4 class="card-title">Filtra fácilmente tus artículos registrados</h4>
                <h6 class="card-subtitle">Exportar información a Excel &amp; PDF</h6>
                <div class="table-responsive m-t-40">
                    <form (ngSubmit)="filtrar()" [formGroup]="filterForm">
                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Nombre</label>
                                <input formControlName="nombre" type="text" class="form-control form-control-line" placeholder="Nombre del artículo" /> 
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Descripción</label>
                                <input formControlName="descripcion" type="text" class="form-control form-control-line" placeholder="Descripción del artículo" /> 
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Código</label>
                                <input formControlName="codigo" type="text" class="form-control form-control-line" placeholder="Código del artículo" /> 
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Stock</label>
                                <input formControlName="stock" type="number" class="form-control form-control-line" min="1" step="1" placeholder="Cantidad en almacén" /> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Precio Min</label>
                                <input formControlName="precio_min" type="number" class="form-control form-control-line" min="1" step="1" placeholder="Precio mínimo del artículo" /> 
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Precio Max</label>
                                <input formControlName="precio_max" type="number" class="form-control form-control-line" min="1" step="1" placeholder="Precio máximo del artículo" /> 
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <label>Categoría</label>
                                <select formControlName="idCategoria" class="form-control form-control-line">
                                    <option [ngValue]="0">Elija una categoría</option>
                                    <option *ngFor="let categoria of categorias" [ngValue]="categoria.idCategoria">{{ categoria.nombre }}</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                <span *ngIf="filterFormValue.activo" class="w-100 badge badge-success">ACTIVO</span>
                                <span *ngIf="!filterFormValue.activo" class="w-100 badge badge-danger">INACTIVO</span>
                                <div class="switch text-center mt-2">
                                    <label>
                                        <input formControlName="activo" type="checkbox" checked=""><span class="lever switch-col-red"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-right">
                                <button type="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <div id="example23_wrapper" class="dataTables_wrapper">
                        <div class="dt-buttons">
                            <a class="dt-button buttons-excel buttons-html5 cursor-pointer" tabindex="0" aria-controls="example23" (click)="printExcelProducts()"><span>Excel</span></a>
                            <a class="dt-button buttons-pdf buttons-html5 cursor-pointer" tabindex="0" aria-controls="example23" (click)="printPDFProducts()"><span>PDF</span></a>
                        </div>
                        <div id="example23_filter" class="dataTables_filter">
                            <button class="btn btn-secondary" (click)="resetAll()">Reiniciar búsqueda</button>
                        </div>
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 244px;">Nombre</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Descripción</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Código</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Precio</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Stock</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Categoría</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;">Estado</th>
                                    <th tabindex="0" aria-controls="example23" rowspan="1" colspan="1" style="width: 359px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="articulos.length; else noRecords">
                                    <tr *ngFor="let articulo of articulos">
                                        <td>{{ articulo.nombre }}</td>
                                        <td>{{ articulo.descripcion }}</td>
                                        <td>{{ articulo.codigo }}</td>
                                        <td>{{ articulo.precio_venta | currency }}</td>
                                        <td>{{ articulo.stock }}</td>
                                        <td>{{ articulo.categoria }}</td>
                                        <td>
                                            <span *ngIf="articulo.activo" class="badge badge-success">ACTIVO</span>
                                            <span *ngIf="!articulo.activo" class="badge badge-danger">INACTIVO</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-info mr-1" (click)="editArticulo(articulo)"><i class="fa fa-edit"></i></button>
                                            <button *ngIf="articulo.activo" class="btn btn-sm btn-danger" (click)="desactivateArticulo(articulo)"><i class="fa fa-trash"></i></button>
                                            <button *ngIf="!articulo.activo" class="btn btn-sm btn-info" (click)="activateArticulo(articulo)"><i class="fa fa-undo"></i></button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noRecords>
                                    <tr><td colspan="8"><h4 class="text-center m-1">No hay productos...</h4></td></tr>
                                </ng-template>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-xl-right text-lg-right" rowspan="1" colspan="8">
                                        <button class="btn btn-primary btn-sm" (click)="newArticulo()"><i class="fa fa-plus mr-1"></i>Nuevo Producto</button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                        <app-pagination *ngIf="articulos.length" [pagination]="pagination" (event)="getArticulos($event)"></app-pagination>
                    </div>
                </div>
            </div>
            <div *ngIf="loading" class="card-body text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
                <br>
                <span>Cargando sus productos...</span>
            </div>
        </div>
    </div>
</div>