<div *ngIf="pagination" class="dataTables_info" id="example23_info" role="status" aria-live="polite">
    Mostrando {{ pagination.CurrentPage * 10 - 9 }} a {{ pagination.CurrentPage * pagination.PageSize }} de {{ pagination.TotalCount }} registros
</div>
<div *ngIf="pagination" class="dataTables_paginate paging_simple_numbers" id="example_paginate">
    <button [ngClass]="{'disabled not-allowed': !pagination.HasPrevious}" [disabled]="!pagination.HasPrevious" class="paginate_button previous" aria-controls="example" data-dt-idx="0" 
            tabindex="0" id="example_previous" (click)="changePage(-1)">
        Anterior
    </button>
    <span>
        <a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">{{ pagination.CurrentPage }}</a>
    </span>
    <button [ngClass]="{'disabled not-allowed': !pagination.HasNext}" [disabled]="!pagination.HasNext" (click)="changePage(1)" class="paginate_button next" 
            aria-controls="example" data-dt-idx="2" tabindex="0" id="example_next">
        Siguiente
    </button>
</div>