/* You can add global styles to this file, and also import other style files */

#themecolors a {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.display-overlay {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99999;
    background-color: rgba(0,0,0,0.5);
}
